<section class="container my-4 text-center">
    <h5 class="IRANSansWeb_Medium  bt-color">دسته بندی</h5>
    <p>با اتخاب دسته بندی اخبار مورد نظر خود آنها را راحت تر پیدا کنید </p>
    <div id="owl-Service" class="owl-carousel">
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                </a>
                <h6>اخبار سیاسی</h6>
                <p>جدیدترین و پربیننده ترین اخبار سیاسی ایران و جهان</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">                 
                </a>
                <h6>اخبار ورزشی</h6>
                <p>به روز ترین و پربیننده ترین اخبار ورزشی داخلی و خارجی</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
        <div class="card mx-2 my-3">
            <div class="card-body">
                <a href="#">
                </a>
                <h6>اخبار اقتصادی</h6>
                <p>آخرین و پربیننده ترین اخبار اقتصادی ایران و جهان</p>
                <a href="News_Details.html" class="btn btn-grad px-5 text-white mt-2 rad25">مشاهده</a>
            </div>
        </div>
    </div>

</section>