<footer class="rel-footer">
    <div id="footer-content">
        <div class="container">
            <div class="row pt-4 mx-2">
                <div class="col-lg-4 col-sm-6 py-3 order-lg-1 order-1 pl-lg-2">
                    <h5 class="IRANSansWeb_Medium">آخرین ارسالی ها : </h5>
                    <ul>
                        <li>
                            <a href="Ourteam.html" title="">
                                به زودی
                            </a>
                        </li>
                        <li>

                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 py-3 order-lg-1 order-1">
                    <h5 class="IRANSansWeb_Medium"> لینک های سریع : </h5>
                    <ul>
                        <li>
                            <a href="#" title="" onclick="">به زودی</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 py-3 order-lg-2  order-3">
                    <h5 class="IRANSansWeb_Medium">پیوندها : </h5>
                    <ul>
                        <li>
                            <a href="Faq.html" title="">سوالات متداول</a>
                        </li>

                        <li>
                            <a href="Login.html" title="">ورود</a>
                        </li>
                        <li>
                            <a href="Register.html" title="">عضویت</a>
                        </li>
                        <li>
                            <a href="AboutUs.html" title="">درباره ما</a>
                        </li>
                        <li>
                            <a href="ContactUs.html" title="">تماس با ما </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 pr-lg-4 py-3 IRANSansWeb_FaNum  order-lg-3  order-2">
                    <h5 class="IRANSansWeb_Medium"> ارتباط با ما : </h5>
                    <p>
                        <i class="fas fa-2x fa-map-marker-alt ml-2"></i>آدرس : اردبیل خیابان جامی نرسیده به اتوبوسرانی سابق 
                    </p>
                    <p><i class="fas fa-2x fa-phone ml-2"></i>تلفن : 04533620000</p>
                    <p><i class="fas fa-2x fa-mobile-alt ml-2"></i>تلفن همراه : 09908804658</p>
                    <p><i class="fas fa-2x fa-fax ml-2"></i>نمابر : نمابر نداریم😁</p>
                </div>


            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-white">قدرت گرفته از محمد مهدی کریمی</p>
                </div>
            </div>
        </div>
    </div>

</footer>