<section class="container mt-3">
    <div class="row">
    </div>
    <div class="col-lg-12 mb-lg-0 mb-3 order-lg-2  order-1">
        <div id="owl-slider" class="owl-carousel">
            <div class="item">
                <a href="#">
                    <img src="Images/Slides/Slide-1.jpg" alt="slide1" class="img-fluid" />
                    <div class="caption">
                        <span class="SlideCategori position-absolute bg-danger px-3">
                            جلسات مدیران
                        </span>
                        <p>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="Images/Slides/Slide-2.jpg" alt="slide1" class="img-fluid" />
                    <div class="caption">
                        <span class="SlideCategori position-absolute bg-danger px-3">
                            همایش ها
                        </span>
                        <p>فرصت دوباره برای فعال سازی پذیرنده های بانک </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
    </div>

</section>