<section class="container  Nlist wt_box mt-5 relative">


    <div class="row">

        <div class="col-lg-9 bx-nws card mb-3">
            <div class="widget-title">
                <h1>اخبار مرکز و استان ها</h1>
            </div>
            <div class="bg-white  m-0 p-2">

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news1.png" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>فرصت دوباره برای فعال سازی مجدد پذیرنده های بانک</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news2.jpeg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>
                                        رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز تعویض پلاک خودرو
                                    </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news3.jpg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news4.png" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>افزایش حقوق معلمان چه زمانی واریز می شود؟</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news3.jpg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>فرصت دوباره برای فعال سازی مجدد پذیرنده های بانک</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news2.jpeg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>
                                        رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز تعویض پلاک خودرو
                                    </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news1.png" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور </h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-2 col-md-3">
                                <a href="News_Details.html"><img src="Images/News/news2.jpeg" class="img-fluid"></a>
                            </div>
                            <div class="col-lg-10 col-md-9">
                                <a href="News_Details.html">
                                    <h2>افزایش حقوق معلمان چه زمانی واریز می شود؟</h2>
                                </a>
                                <p>
                                    به گزارش روابط عمومی پژوهشگاه ارتباطات و فناوری اطلاعات؛ دومین جلسه شورای
                                    هماهنگی
                                    روابط عمومی‌های سازمان‌ها و شرکت‌های تابعه وزارت ارتباطات و فناوری اطلاعات ..
                                </p>

                            </div>
                        </div>
                    </li>





                </ul>
                <div class="d-flex flex-row tttt justify-content-between pb-2 px-3">
                    <div>
                        « نمایش 4 از کل »
                    </div>

                    <div>
                        <a href="#">مشاهده بیشتر »</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3 d-lg-block d-none">
            <a href="#"><img src="Images/emono1.jpeg" class="img-fluid rad12 mb-3"></a>
            <a href="#"><img src="Images/event01.jpg" class="img-fluid rad12 mb-3"></a>
        </div>
    </div>

</section>