<section class="container mt-5">
    <h5 class="IRANSansWeb_Medium text-center bt-color">آخرین اخبارها و رویدادها</h5>
    <div id="owl-topnews" class="owl-carousel mt-3 mb-5 text-center">
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/news1.png" class="mb-3 img-fluid rad12" />
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>

            <a href="News_Details.html">
                <h2>اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام اقتصادی کشور است</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>

            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/5.jpg" class="mb-3 img-fluid rad12" />
                <div class="d-flex flex-column covernews">
                    <div class="d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                        <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                        <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                    </div>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز تعویض پلاک خودرو</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>

        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/news3.jpg" class="mb-3 img-fluid rad12" />
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>امکان استعلام ممنوع الخروجی از طریق درگاه ملی خدمات الکترونیک سازمان مالیاتی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/news2.jpeg" class="mb-3 img-fluid rad12" />
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های بانکی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/news1.png" class="mb-3 img-fluid rad12" />
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>امکان استعلام ممنوع الخروجی از طریق درگاه ملی خدمات الکترونیک سازمان مالیاتی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/news2.jpeg" class="mb-3 img-fluid rad12" />
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های بانکی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/news4.png" class="mb-3 img-fluid rad12" />
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>امکان استعلام ممنوع الخروجی از طریق درگاه ملی خدمات الکترونیک سازمان مالیاتی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
        <div class="card my-3 mx-2">
            <a href="News_Details.html" class="relative">
                <img src="Images/News/news3.jpg" class="mb-3 img-fluid rad12" />
                <div class="covernews d-flex flex-row justify-content-between px-3 text-white IRANSansWeb_Medium ">
                    <span class="bottom_p"><i class="fas fa-clock ml-1"></i>98/5/9</span>
                    <span><i class="fas fa-eye ml-1"></i>28 بار</span>
                </div>
            </a>
            <a href="News_Details.html">
                <h2>اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های بانکی</h2>
            </a>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ با استفاده ..</p>
            <a href="News_Details.html" class="text-danger IRANSansWeb_Medium mb-3">مشاهده خبر »</a>
        </div>
    </div>

</section>