<section class="container Lnews mt-5">

    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card wt_box px-3">
                <div class="widget-title">
                    <h1>اخبـار همایش ها</h1>
                </div>
                <ul>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="card wt_box px-3">
                <div class="widget-title">
                    <h1>اخبـار فناوری ها</h1>
                </div>

                <ul>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            رونمایی از سامانه پرداخت مالیات نقل و انتقال خودرو در مرکز
                            تعویض پلاک خودرو
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اطلاعیه مهم: فرصت دوباره برای فعال سازی مجدد پذیرنده های
                            بانک
                        </a>
                    </li>
                    <li>
                        <a href="News_Details.html">
                            اجرای قانون پایانه های فروشگاهی ، نقطه عطفی برای نظام
                            اقتصادی کشور
                        </a>
                    </li>
                    <li><a href="News_Details.html">افزایش حقوق معلمان چه زمانی واریز می شود؟</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>