@page
@model Web_UI.Pages.Admin.News.AddModel
@{
    Layout = "_Layout";
}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-header text-center">افزودن خبر</p>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form asp-page="Add" method="post">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-3">
                                                <p>نام مقاله</p>
                                                <input type="text" class="form-control" asp-for="Content.Title" />
                                            </div>
                                            <div class="col-3">
                                                <p>نام نویسنده</p>
                                                <input type="text" class="form-control" asp-for="Content.Author" />
                                            </div>
                                            <div class="col-3">
                                                <p>تگ های مقاله</p>
                                                <input type="text" class="form-control" asp-for="Content.Tags" />
                                            </div>
                                            <div class="col-3">
                                                <p>عکس مقاله</p>
                                                <input type="file" class="custom-file-input" asp-for="Content.ImagePath" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="ckeditor" class=""></div>
                                </div>
                                <div class="col-2">
                                    <button type="submit" class="btn btn-primary">ثبت</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Master/Js/ckeditor.js" type="text/javascript"></script>
<script type="text/javascript">
    ClassicEditor
        .create(document.querySelector('#ckeditor'));
</script>