@page
@model Web_UI.Pages.Admin.News.AddModel
@{
    Layout = "_Layout";
}

<script src="~/Master/ckeditor/ckeditor.js" type="text/javascript"></script>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="card-header text-center">افزودن خبر</p>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form asp-page="Add" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <p>نام مقاله</p>
                                                <input type="text" class="form-control" asp-for="Content.Title" />
                                            </div>
                                            <div class="col-4">
                                                <p>نام نویسنده</p>
                                                <input type="text" class="form-control" asp-for="Content.Author" />
                                            </div>
                                            <div class="col-4">
                                                <p>تگ های مقاله</p>
                                                <input type="text" class="form-control" asp-for="Content.Tags" />
                                            </div>
                                        </div>
                                    </div>
                                    <p>عکس مقاله</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                           
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" asp-for="Content.ImagePath">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="mb-4">
<textarea name="text" id="content" class="ckeditor" rows="6"></textarea>
                                        <script type="text/javascript">
                                            CKEDITOR.replace('content', {
                                                // Load the German interface.
                                                language: 'fa'
                                            });
                                        </script>
                                    </div>


                                    <button type="submit" class="btn btn-grad text-white align-content-center">ثبت</button>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>